* {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  margin: 0px;
  padding: 0px;
}

.content {
  display: flex;
  flex-flow: column wrap;
  justify-content: stretch;
  align-items: stretch;
}

.header,
.hero {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 130px;
  margin: 0px;
}

.left-header {
  display: flex;
  color: #f9faf8;
  font-size: 24px;
}

.right-header {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
  gap: 24px;
}

.hero {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  padding: 10px 130px;
}

.right-hero {
  display: flex;
  flex: 1 1 50%;
  align-items: center;
}

.left-hero {
  flex: 1 1 50%;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

button {
}
