* {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  margin: 0px;
  padding: 0px;
}

.content {
  display: flex;
  flex-flow: column wrap;
  justify-content: stretch;
  align-items: stretch;
}

.header,
.hero {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 130px;
  margin: 0px;
}

.left-header {
  display: flex;
  color: #f9faf8;
  font-size: 24px;
}

.right-header {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
  gap: 24px;
}

.hero {
  display: flex;
  height: 450px;
  justify-content: center;
  align-items: center;
  padding: 10px 130px;
  gap: 50px;
}

.right-hero {
  display: flex;
  flex: 1 1 50%;
  align-items: center;
  background-color: rgb(150, 150, 150);
  height: 220px;
  justify-content: center;
  color: #e5e7eb;
}

.left-hero {
  flex: 1 1 50%;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 28px;
  font-size: 16px;
  margin-top: 12px;
  font-weight: bold;
  border-radius: 8px;
  border-style: none;
}

.info {
  height: 450px;
}

.info-text {
  display: flex;
  justify-content: center;
  font-size: 38px;
  color: #1f2937;
  font-weight: bolder;
  padding: 50px;
}

.info-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.info-text-container {
  display: flex;
  gap: 50px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
}

.item1,
.item2,
.item3,
.item4 {
  width: 170px;
  height: 170px;
  outline: 0.3rem solid #3882f6;
  border-radius: 8px;
}
.item1-text,
.item2-text,
.item3-text,
.item4-text {
  font-size: 16px;
  color: #6a6c6f;
  font-weight: 800;
  width: 170px;
  height: 170px;
  text-align: center;
}

.quote-section {
  height: 450px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1f2937;
  padding: 0 300px;
}

.quote-author {
  color: #1f2937;
  align-self: flex-end;
  margin-right: 280px;
  font-size: 24px;
  font-weight: bold;
}

.call-to-action-section {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.call-to-action-container {
  background-color: #3882f6;
  width: 850px;
  height: 140px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.main-cta {
  color: #f9faf8;
  font-size: 22px;
  font-weight: bold;
  align-self: center;
}

.sub-cta {
  color: #e5e7eb;
  font-size: 16px;
  font-weight: bold;
  align-self: center;
}

.button-two {
  border-radius: 8px;
  outline: 1px solid #f9faf8;
}

.footer {
  height: 80px;
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
